#App {
  display: grid;
  grid-template-areas: 'a a' 'b c' 'd e';
  height: 100vh;
  text-align: center;
}

#App-top{
  grid-area: a;
  height: 20vh;
  width: 100vw;
  background-color: #f8f8f8;
  color: #757575;
  font-size: 5vh
}

#App-formLabel{
  font-size: 2vh;
}

#App-formInput{
  -webkit-appearance: none;
  border-radius: 3px;
  margin-left: 3vw;
  height: 3vh;
  width: 20vw
}

.App-header-left, .App-header-right{
  display: flex;
  height: 5vh;
  width: 40vw;
  margin-bottom: 1vh;
  margin-left: 5vw;
  background-color: #ececec;
  color: #858585;
  font-size: 2vh;
  align-items: center;
  justify-content: center
}

.App-header-left{
  grid-area: b;
}

#App-left, #App-right{
  height: 60vh;
  width: 40vw;
  margin-left: 5vw;
  margin-bottom: 5vh;
  overflow: scroll
}

#App-left{
  grid-area: d;
}

.App-header-right{
  grid-area: c
}

#App-right{
  grid-area: e
}